footer {
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 0;
}

#map { 
    position: absolute;
    top: 110px; 
    bottom: 110px; 
    width: 100%;  
    height: 100%;
}

footer ul{
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
}