@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body{
    background-color: #3D3D3D;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

*{
    box-sizing: border-box;
}

.button{
    background-color: #A8AD1E;
    border-radius: 13px;
}

a{
    color: #A8AD1E;
    text-decoration: none;
}

.text-vert{
    color: #A8AD1E
}

.text-success{
    color: #77B517;
}
.text-danger{
    color: red;
}
.text-primary{
    color: #226DFE;
}
.text-dark{
    color: #3D3D3D;
}
.bg-vert{
    background-color: #A8AD1E;
}
.bg-dark{
    background-color: #3D3D3D;
}
.bg-orange{
    background-color: #FF7A00;
}

.br{
    border-radius: 13px;
}

.ff{
    font-family: 'Open Sans', sans-serif;
    
}
