@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body{
    background-color: #3D3D3D;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}


.button{
    background-color: #A8AD1E;
    border-radius: 13px;
}

a{
    color: #A8AD1E;
    text-decoration: none;
}