
#but{
    background-color: #3d3d3d;
    width: 300px;
    height: 50px;
    font-weight: lighter;
    justify-content: center;
    height: auto;
    border-radius: 10px;
}

h1 {
    color: white;
}


        body {
            text-align: center;
        }

     
        main {
            display: flex;
            justify-content: center;
            width: 100vw;
            height: 100vh;

        }

        article {
            background: white;
            border-radius: 15px;
            width: 90VW;
            height: fit-content;
            margin-left: 5vw;
            margin-top: 3vh;
            padding-top: 1vh;
        }

        button {
            background-color: #A8AD1E;
            color: white;
            top: 85vh;
            left: 45vw;
            border: inherit;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 8px;
            font-size: 1.5em;
        }

        article,
        article ul,
        article ul li,
        main {
            display: block;
        }


        .icons {
            width: 30vw;
            height: 15vh;
            color: #000000;
            letter-spacing: 0.1em;
            margin-left: 40px;
            margin-right: 40px;
            display: flex;
        
        }

        .text {
            width: 60vw;
            height: 20vh;
            color: #000000;
            letter-spacing: 0.1em;
            margin-left: 40px;
            margin-right: 40px;

        }

        .box {
            width: 30vw;
            height: 10vh;
            color: #000000;
            letter-spacing: 0.1em;
            margin-right: 40px;
        }

        .article-flex{
            display: flex;
            color: black;
        
        }
        
        .item-flex{
            flex: 1;
            
        }
        
        .section-flex{
            display: flex;
            flex-direction: column;
        }
        
        article{
            background: white;
        }
        .flex-column{
            flex-direction: column;
        }
datalist {
    display: flex;
    justify-content: space-between;
}
.put{
    width: 80vw;
}


.slider{
    content: "";
    height: 26px;
    border-radius: 34px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #A8AD1E;
    -webkit-transition: .4s;
    transition: .4s;
}
.flexible{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flexible p{
    flex: 1;
}