* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../../assets/ossau.png");
    background-size: cover;
    background-position-x: 75%;
    background-blend-mode: darken;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

/* logo haut gauche */
header img {
    width: 40vw;
    float: left;
}

/* parametres */
header a img {
    width: 10vw;
    float: right;
    margin: 5vw 5vw;
}

header {
    min-height: 25vh;
}

/* rand'ossau text et montagne */

/* rand */
figure img:nth-of-type(1),
figure img:nth-of-type(2),
figure img:nth-of-type(3),
figure img:nth-of-type(4) {
    height: 7.5vh;
    margin-left: -1vw;
    margin-right: -3vw;
}

/* apostrophe */
figure img:nth-of-type(5) {
    height: 2vh;
    margin-left: 0;
    vertical-align: top;
}

/* montange */
figure img:nth-of-type(6) {
    margin-left: -2vh;
    height: 8.5vh;
}

/* ossau */
figure img:nth-of-type(7),
figure img:nth-of-type(8),
figure img:nth-of-type(9),
figure img:nth-of-type(10),
figure img:nth-of-type(11) {
    height: 12.5vh;
    margin-left: -1vw;
    margin-right: -4vw;
}

/*buttons*/
div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 10vw;
    margin-top: 5vh;
    overflow: hidden;
}

div button {
    overflow: hidden;
    background: #3D3D3D;
    border: 5px solid #FFFFFF;
    border-radius: 25px;
    width: 30vw;
    height: 30vw;
    margin: 2.5vw 2.5vw;
    padding-top: 20px;
}

div button p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 550;
    font-size: 1em;
    margin-bottom: 2vh;
    text-align: center;
    color: #A8AD1E;
}

div button img {
    height: 15vw;
    width: 15vw;
}

.small {
    height: 12.5vw;
    width: 12.5vw;
}